name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release
    # - name: Run tests
    #   run: cargo test --verbose
    - name: 上传编译产物
      uses: actions/upload-artifact@v4
      with:
          name: windows-build
          path: target/release/
